    <div class="border-bottom" style="display: flex; justify-content: space-between; margin: 20px auto; align-items: center; width: 900px;">
        <div>
                <input type="radio" name="transport_id" value="{{ v[0] }}" id="{{ v[0] }}" class="form-check-input" style="margin-right: 10px; margin-top: 9px; background-color: #eee; width: 20px; height: 20px;">
                <h2  style="display: inline;"><label class="form-check-label">{{ v[1] }}</label></h2>
          <div style="font-size: 20px; margin-top: 10px; margin-bottom: 10px;">
            <b>Type:</b> {{v[2]}}
            <b>Capacity:</b> {{v[3]}}
        </div>
        <div style="font-size: 20px; margin-top: 10px; margin-bottom: 10px;">
            <b>Price:</b> Rs.{{v[4]}}
          </div>
      
        </div>
    </div>
